 body {
	font-family:Calibri, Tahoma, Trebuchet MS, verdana, arial, helvetica, sans-serif;
	font-size:13px;
	color:#000000;
	margin:0 auto;
	text-align:center;
	background-color:#fff;
	overflow-x:hidden; /* part of remove side scroll */
	overflow-y:auto;/* part of remove side scroll */
}

.general_button { height:19px; font-size:10px; color:#1b2c67; background-color:#ffffff}

.mainmenu {
	list-style-type:none;
	list-style-image:none;
	margin: 0;
	padding:0;
	}

a 	{text-decoration:none;
   	color:#1b2c67;
	}

a.hover {text-decoration:underline;
	color:#1b2c67;
	}


h4 {background-color:#e1e1e1; font-weight:bold; color:#000033; font-size:12px; font-family:Calibri, Tahoma, Trebuchet MS,Verdana,Arial,Helvetica;}
h4.intro_text_header {background-color:#f9f9f9; font-weight:bold; color:#000033; width:450px; font-size:12px;}
#main_page_header {position:absolute; top:10px; margin:0 auto; left:200px;}
#menu {top:112px; margin:0 auto; margin-left:100px; position:absolute; text-align:center; z-Index:2; }
.admin_table_heading {text-align:center; font-weight:bold; background-color:#bbb; padding-right:10px; font-size:11px;}
.login_sidebar_textbox {width:120px; height:19px; font-size:10px; color:#1b2c67}
.login_sidebar_button {width:50px; height:19px; font-size:10px; color:#1b2c67; background-color:#ffffff}
.page_header{position:absolute; top:160px; left:260px; font-family: verdana, arial, helvetica, sans-serif; font-size:18px;}
.menu_header{font-family: verdana, arial, helvetica, sans-serif; color:#00a0df; font-size:14px; padding-bottom:5px; margin-bottom:0px;}
.title_header{position:absolute; top:30px; left:6px; font-family: verdana, arial, helvetica, sans-serif; font-size:34px;}
.admin_header {width:596px; height:39px; font-weight:bold; background-image:url(../system/graphics/application_images/admin_top_bar.png); background-repeat:no-repeat; padding-top:9px; padding-left:20px; color:#1b2c67; font-size:14px; overflow:hidden;}
.admin_side_header {width:214; height:39px; font-weight:bold; background-image:url(../system/graphics/application_images/admin_side_bar.png); background-repeat:no-repeat; padding-top:9px; padding-left:20px; color:#1b2c67; font-size:14px;}
.admin_menu_button { width:214px; height:30px; font-weight:bold; background-image:url(../system/graphics/application_images/admin_button.png); background-repeat:no-repeat; padding-top:6px; padding-left:9px; color:#1b2c67; margin-top:0px; margin-bottom:0px; font-size:12px; }
.white_link{color:#ffffff;}
#col1 {position:absolute; top:57px; width:980px; font-size:13px; text-align:right;}
#menuspanleft {color:#fff; padding-right:22px; width:180px; text-align:right; float:right;}
#container {text-align:left; margin:0 auto; width:980px;}
.menufrontpage {position:absolute; top:94px;}
#col2 {
	position:relative; 
	top:0px; 
	left:5px; 
	max-width:980px; 
	text-align:left; 
	padding-top:0px; 
	margin-top:0px; 
	background-color:#fff;
}
#status_message {position:relative; top:0px; left:5px; padding-right:50px;}
#credits {position:absolute; top:500px; left:6px; width:100px; font-size:4px; font-family:arial,helvetica,verdaia; font-weight:normal; color:#ffffff}
/* multiple page stuff for candidate CV entry */
#page1button {position:absolute; top:0px; left:0px; width:50px; height:400px}
#page2button {position:absolute; top:0px; left:80px; width:50px; height:400px}
#page3button {position:absolute; top:0px; left:160px; width:50px; height:400px}
#page4button {position:absolute; top:0px; left:240px; width:50px; height:400px}
#page5button {position:absolute; top:0px; left:320px; width:50px; height:400px}
#page6button {position:absolute; top:0px; left:400px; width:50px; height:400px}
#page7button {position:absolute; top:0px; left:480px; width:50px; height:400px}
#page8button {position:absolute; top:0px; left:670px; width:50px; height:400px}
#page9button {position:absolute; top:0px; left:730px; width:50px; height:400px}

#table_title_div {
width:596px; height:39px; font-weight:bold; background-image:url(../system/graphics/application_images/admin_top_bar.png); background-repeat:no-repeat; padding-top:9px; padding-left:20px; color:#1b2c67; font-size:14px; margin:0px; float:left;}
.table_title {clear:both;}

#full_width_header {
width:900px; height:39px; font-weight:bold; background-image:url(../images/top_header_900px.png); background-repeat:no-repeat; padding-top:9px; padding-left:20px; color:#1b2c67; font-size:14px; margin:0px; float:left;}

.table_title {
width:596px; height:39px; font-weight:bold; background-image:url(../system/graphics/application_images/admin_top_bar.png); background-repeat:no-repeat; padding-top:9px; padding-left:20px; color:#1b2c67; font-size:14px; margin:0px; float:left;}
#interface_buttons{float:left; width:204px; padding-bottom:4px; padding-top:6px; padding-left:10px; background-image:url(../system/graphics/application_images/admin_side_bar.png);}
#sub_header_filtered {clear:both; padding-left:15px;}
.cleardiv {clear:both; height:10px;} /* just add this to create a clear somewhere */

.page_filter_text_input {height:12px;}
.page_filter_div {float:right; display:inline; border-width:0px 1px 0px 0px; }

#filter_buttons {display:inline;}
#go_button{display:inline;}
#clear_search_button{display:inline;}

#Search_select { background-color:#f3f3f3; }
#Filter_select { background-color:#f3f3f3;}
#Sort_select { background-color:#f3f3f3;}
#Records_per_page_select { background-color:#f3f3f3;}

/*#footer_admin {width:100%; background-color:#f1f1f1; position:fixed; bottom:0px; padding:1px; margin:0px; padding-right:10px; height:15px; text-align:right;}*/
#footer_admin { margin-top:10px;}
#footer_admin.p {margin:0px; padding:0px; font-size:9px; text-align:right; padding-right:20px; margin-top:10px; padding-top:10px;}
#section_preview {position:relative; top:0px; width:150px; height:70px; overflow:auto; float:right; z-Index:2; background-color:#ffffff;}
.section_preview_loaded {border-style:solid; border-width:thin; border-color:#ff0000;}
.preview_header {background-color:#fff; color:#1b2c67; font-size:11px; font-weight:bold;}
.preview_list {color:#333333; font-size:10px; padding-top:0px; padding-left:0px; margin-top:0px; margin-left:0px;}

.select_list_inline_header {font-family: verdana, arial, helvetica; font-weight:bold; background-color:#f1f1f1; color:black; font-size:9px;}

.bordered_header_box {background-color:#ffffff; padding:5px; font-weight:bold; font-size:17px; border-width:1px; border-style:solid; margin:2px; float:left;}
.help_for_filter_keys {display:inline; font-size:10px; float:left; width:450px; padding-left:40px;}

.order_button {
	width:80px;
	display:block;
	height:28px;
	background-image:url(../images/admin_images/john_crane_button.jpg);
	font-weight:bold;
	font-size:13px;
	color:#1b2c67;
	background-repeat: no-repeat;
	text-align:center;
	padding-top:4px;
	}

.jc_button_100 {
	width:100px;
	display:block;
	height:28px;
	background-image:url(../images/admin_images/JC100x32pxbutton.gif);
	font-weight:bold;
	font-size:13px;
	color:#1b2c67;
	background-repeat: no-repeat;
	text-align:center;
	padding-top:5px;
	}


.jc_button_120 {
	width:120px;
	display:block;
	height:28px;
	background-image:url(../images/admin_images/JC120x32pxbutton.gif);
	font-weight:bold;
	font-size:13px;
	color:#1b2c67;
	background-repeat: no-repeat;
	text-align:center;
	padding-top:5px;
	}

.jc_button_140 {
	width:100px;
	display:block;
	height:28px;
	background-image:url(../images/admin_images/JC140x32pxbutton.gif);
	font-weight:bold;
	font-size:13px;
	color:#1b2c67;
	background-repeat: no-repeat;
	text-align:center;
	padding-top:5px;
	}
.jc_button_160{
	width:160px;
	display:block;
	height:28px;
	background-image:url(../images/JC160x32pxbutton.gif);
	font-weight:bold;
	font-size:13px;
	color:#1b2c67;
	background-repeat: no-repeat;
	text-align:center;
	padding-top:5px;
	}



.product_title {
	width:527px;
	background-repeat:no-repeat;
	display:block;
	padding-top:5px;
	height:32px;
	background-image:url (../images/JC-Orderbar-527x32px.gif);
	font-weight:bold;
	color:#1b2c67;
}

.admin_header_tabs {
	display:inline;	
	position:relative; 
	top:-4px;
}
.admin_header_tabs li {
	display:inline;
	padding:4px;
	background-color:#eee;
	background-image:url(../system/graphics/application_images/admin_button.png);
}
.admin_header_tabs li.active {
	font-weight:normal;
	color:#1b2c67;
	background-color:#fff;
	background-image:url(../images/JC-Orderbar-527x32px.gif);
	border-bottom:1px #ccc solid;
}

.admin_header_tabs li.passive {
	font-weight:normal;
	color:#000;
	background-color:#eee;
	background-image:url(../system/graphics/application_images/admin_button.png);
	border-bottom: 1px #333 solid;
}

.admin_header_tabs li.active a {
	color:#000;
}
.form_section {
	padding:10px; padding-left:20px;
	border: 1px #666 solid;
	min-height:260px;
	width:950px;
	float:left;
	display:none;
}
#formpart_1 {
	display:block;
}
.subformpart{
	display:none;
}
#subformpart_1{
	display:block;
}

.toggler {font-weight:bold; border-bottom:1px #ccc dashed;}

#form_submission{
	clear:both; float:left;
}

fieldset {
	margin-top:10px;
}

.form_section legend { 
	font-weight:bold;
	border:1px #999 solid;
	background-color:#efefef;
	color:#333;

 }

.form_section iframe {
	border:0px;
}

.dbf_dynamic_form_div legend {
	font-weight:bold;
	border:1px #999 solid;
	background-color:#efefef;
	color:#333;

}

#admin_login_div {
	margin:0px auto;
	width:980px;
}

#footer_para {
	width:980px; margin:0px auto; margin-top:10px; background-color:#f1f1f1; font-weight:bold; text-align:left;
}
