@charset "utf-8";
/* CSS Document */


	#news {
		margin:1em auto;
		padding:0;
		width:190px;
		font-size:0.94em;
		list-style:none;
	}
	#news li {
		background:url("../images/frontpage/box190.gif") 0 100% no-repeat;
		padding:0 0 4px 0;
		margin:8px 0 0 0;
		display:block;
	}
	#news li p {
		background:#eaeaea;
		padding:1px 4px 0 7px;
		margin:0;
		border-left:14px solid #939393;
	}
	#news li.arr p {
		background:#eaeaea url("../images/frontpage/edge.gif") 0 50% repeat-y;
		padding-left:21px;
		border:0;
	}
	#news h4 {
		font-size:1em;
		line-height:1em;
		font-weight:bold;
		background:url("../images/frontpage/box190.gif") 0 0 no-repeat;
		margin:0;
		padding:6px 4px 3px 21px;
	}
	#news li:hover {
		background-position:-190px 100%;
	}
	#news li:hover p {
		border-color:#2793ff;
	}
	#news li.arr:hover p {
		background-image:url("../images/frontpage/edge-h.gif");
	}
	#news li:hover h4 {
		background-position:-190px 0;
	}
	#news a:link {
		text-decoration:none;
		color:#000;
	}
	#news a:visited {
		text-decoration:none;
		color:#000;
	}
	#news a:hover {
		text-decoration:underline;
	}
	#news .more {
		line-height:1em;
		display:block;
		text-align:right;
		padding:0 18px 2px 21px;
		margin-top:4px;
		background:url("../images/frontpage/arrow.gif") 175px 50% no-repeat;
	}


