{=page_header}
{=style_editor_code}
{=code_editor_code}
{=code_editor_new_record_init}
{=mootools_preview_widget_init}
{=multibox_code_head}
</head>
<body>
{=multibox_code_body}
{=preview_div_code}
<div id="container">
	<center>
		<div id="header">
			<center>
				{=admin_header_html}
			</center>
		</div>
	</center>
	{=iframe_mode}
	{=ajax_not_popup}
	{=add_to_header}
	{=dhtml_menu}
	<div id="menu">
		{=system_menu}
	</div>
	{=content}
	<br clear="all" />
	{=footer}
{=page_footer}
</body>
</html>
